html, body {
    height: 100%;
}

.container {
    width: 365px;
    height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 765px) {
   .container {
    width: 765px;
   }
}

.add_todo {
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10px;
    background-color: inherit;
    border: none;
}

.icon,
.cat_icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    stroke: black;
}

.cat_icon {
    fill: white;
    stroke: white;
    padding: 3px;
}

.todo_form {
    position: relative;
    display: none;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100vh;
}

.input {
    margin-bottom: 10px;
}

.category {
    display: flex;
}

#category {
    margin-bottom: 15px;
}

.category_label {
    margin-right: 10px;
}

.cat_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 3px 25px 3px 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 66px;
    position: relative;
    background-color: 	#e5e6eb;
    /* font-size: 24px; */
}

.card_name {
    font-size: 24px;
    margin-right: 10px;
    /* margin: 0; */
    font-weight: bold;
    min-width: 18px;
    /* height: 24px; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_description {
    /* margin: 3px 0; */
    min-width: 18px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 18px; */
    white-space: nowrap;
    font-size: 24px;
}

.card_time {
    font-size: 24px;
    margin-right: 10px;

    /* color: grey; */
    /* position: absolute; */
    /* bottom: 3px; */
}

.todo_description {
    height: 62%;
}

.save,
.cancel {
    width: 60px;
    position: absolute;
    bottom: 70px;
    background-color: inherit;
    border: none;
}

.save {
    right: 10px;
}

.cancel {
    left: 10px;
    stroke: black;
}

.checkbox {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

.checkbox:checked + .card_name {
    text-decoration: line-through;
}

.delete_todo {
    display: none;
    position: absolute;
    right: 50%;
    bottom: 70px;
    transform: translate(50%, 0);
    background-color: inherit;
    border: none;
    fill: black;
}

.yellow_blue {
    border-radius: 50%;
    border-width: 0px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: inherit;
    padding: 5px 0;
}

.ua_color {
    background: linear-gradient(to bottom, #c3def7, #fff899) no-repeat; 
}

.white_color {
    background-color: white;
}