.container {
    width: 365px;
    height: 100vh;
    display: block;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
}

.add_todo {
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}

.todo_form {
    position: relative;
    display: none;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
}

.input {
    margin-bottom: 10px;
}

.card {
    margin: 10px;
    padding: 3px 25px 3px 3px;
    border: 1px solid black;
    border-radius: 5px;
    height: 51px;
    position: relative;
}

.card_name {
    margin: 0;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    overflow: hidden;
}

.card_description {
    margin: 0;
    min-width: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    white-space: nowrap;
}

.card_time {
    margin: 0;
    font-size: 10px;
    color: grey;
    position: absolute;
    bottom: 3px;
}

.todo_description {
    height: 100%;
}

.save,
.cancel {
    width: 60px;
    position: absolute;
    bottom: 20px;
}

.save {
    right: 10px;
}

.cancel {
    left: 10px;
}

.checkbox {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}